<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_3dpBurnerImage2Gcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <_3dpBurnerImage2Gcode.Properties.Settings>
            <setting name="autoZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="units" serializeAs="String">
                <value>metric</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="resolution" serializeAs="String">
                <value>0.18</value>
            </setting>
            <setting name="minPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxPower" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="header" serializeAs="String">
                <value>(Header)
G0 X0 Y0
(Header end)</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>(Footer)
G0 X0 Y0
(Footer end)</value>
            </setting>
            <setting name="feedrate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="powerCommand" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="pattern" serializeAs="String">
                <value>Horizontal scanning</value>
            </setting>
            <setting name="edgeLines" serializeAs="String">
                <value>False</value>
            </setting>
        </_3dpBurnerImage2Gcode.Properties.Settings>
    </userSettings>
</configuration>
